@{

}
@model AttackPrevent.Models.BlackListModel
@Styles.Render("~/Content/home.css?v=" + Guid.NewGuid())
<div style="width: 500px; margin-top: 20px; margin-left: 40px;">
    <ol class="breadcrumb">
        <li><a href="~/Home/BlackList">Blacklist Management</a></li>
        <li class="active">Add</li>
    </ol>
    @using (Html.BeginForm("AddBlackList", "home", FormMethod.Post))
    {
        <div class="row form-group">
            <label class="col-md-4 label-col">Zone ID</label>
            <div class="col-md-8 ">
                @Html.DropDownListFor(model=>model.ZoneId, ViewBag.ZoneList as List<SelectListItem>, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ZoneId)
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 label-col">IP</label>
            <div class="col-md-8 ">
                @Html.TextAreaFor(model => model.IP, new { @class = "form-control" , rows = 4 })
                @Html.ValidationMessageFor(model => model.IP)
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 label-col">Comment</label>
            <div class="col-md-8 ">
                @Html.TextAreaFor(model => model.Comment, new { @class = "form-control", rows = 2 })
                @Html.ValidationMessageFor(model => model.Comment)
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 label-col">Verification Code</label>
            <div class="col-md-8 ">
                @Html.TextBoxFor(model => model.ValidateCode, new { @class = "form-control", @type = "password" })
                @Html.ValidationMessageFor(model => model.ValidateCode)
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-8 col-md-offset-4 text-right">
                <input type="submit" value="Save" class="btn btn-primary" />
                @Html.ActionLink("Cancel", "BlackList", "Home", new { @class = "btn btn-default" })
            </div>
        </div>
    }
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $("#btn-save").click(function () {
            var zoneID = $("#select-zoneName").val();
            var ips = $("#ip-content").val().split('\n').join(',');
            var comment = $("#txt-comment").val();
            var vcode = $("#vcode-content").val();

            if (!checkCloundflareAuth(zoneID)) {
                return;
            }

            save(zoneID, ips, comment, vcode);
        });
        //$('#btn-cancel').click(function () {
        //    history.go(-1);
        //});
    });
    function save(zoneID, ips, comment, vcode) {
        $.ajax({
            type: "POST",
            url: "/Home/SaveBlackList?zoneID=" + zoneID + "&ips=" + ips + "&comment=" + comment + "&vcode=" + vcode,
            dataType: "json",
            async: true,
            success: function (data) {
                if (data.isSuccessed) {
                    history.go(-1);
                } else {
                    showError(data.errorMsg);
                }
            },
            error: function (jqXHR) {
                console.log("Error: " + jqXHR.status);
            }
        });
    }
    function checkCloundflareAuth(zoneID) {
        var isSuccessed = false;
        $.ajax({
            type: "GET",
            url: "/Home/CheckCloundflareAuth?zoneID=" + zoneID,
            dataType: "json",
            async: false,
            success: function (data) {
                var status = data.isSuccessed;
                if (status) {
                    isSuccessed = true;
                } else {
                    showError(data.errorMsg);
                }
            },
            error: function (jqXHR) {
                console.log("Error: " + jqXHR.status);
            }
        });
        return isSuccessed;
    }
</script>