@{

}
@model AttackPrevent.Models.ZoneModel
@Styles.Render("~/Content/home.css")
<div style="width: 500px; margin-top: 20px; margin-left: 40px;" class="form-horizontal">
    <ol class="breadcrumb">
        <li><a href="~/Home/ZoneList">Zone Manage</a></li>
        <li class="active">Edit</li>
    </ol>
    @using (Html.BeginForm("EditZone", "home", FormMethod.Post))
    {
        <div class="row form-group">
            <label class="col-md-4 control-label">Zone ID</label>
            <div class="col-md-8 ">
                @Html.TextBoxFor(model => model.ZoneId, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ZoneId)
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">Zone Name</label>
            <div class="col-md-8 ">
                @Html.TextBoxFor(model => model.ZoneName, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ZoneName)
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">Auth Emaile</label>
            <div class="col-md-8 ">
                @Html.TextBoxFor(model => model.AuthEmail, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AuthEmail)
            </div>
        </div>
        <div class="row form-group">
            <label class="col-md-4 control-label">Auth KEY</label>
            <div class="col-md-8 ">
                @Html.TextBoxFor(model => model.AuthKey, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AuthKey)
            </div>
        </div>
        <div class="row form-group">
            <div class="checkbox col-md-4 col-md-offset-4">
                <label>
                    @Html.CheckBoxFor(model => model.IfTestStage)
                </label>
            </div>
        </div>
        <div>
            @Html.HiddenFor(model => model.TableID)
        </div>
        <div class="form-group">
            <div class="col-md-8 col-md-offset-4 text-right">
                <input type="submit" value="Save" class="btn btn-primary" />
                @Html.ActionLink("Cancel", "ZoneList", "Home", new { @class = "btn btn-default" })
            </div>
        </div>
    }

</div>




