<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attack Preventing System </title>
    @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/bootstrap-datetimepicker.min.css")
    @Styles.Render("~/Content/bootstrap-table.min.css")
    @Styles.Render("~/Content/bootstrap-switch.min.css")
    @Styles.Render("~/Content/layout.css?v=20181213")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

    @Styles.Render("~/Content/jquery.mloading/jquery.mloading.css?v=" + Guid.NewGuid())
    @Scripts.Render("~/Scripts/jquery.mloading/jquery.mloading.js?v=" + Guid.NewGuid())
    @Scripts.Render("~/Scripts/jquery.session.js")

</head>
<body>
    <div class="main">
        <div class="navbar-header-cm">
            <div class="headerLeft-cm">
                <div class="navbar-brand-cm">
                    <a href="" title="" rel="noopener noreferrer" target="_blank"> <img src="~/Images/comm100.png" alt=""></a>
                </div>
            </div>
            <div class="headerRight-cm">
                @*<a href="javascript:void(0);" class="avatars-cm">
                </a>*@
                <a href="javascript:void(0);" class="avatars-cm">
                    <img src="~/Images/101.png" alt="" class="imgAvatars">
                </a>
                @if (Session["UserName"] != null)
                {
                <span id="accountName" class="accountName" style="color: white;margin-left: 10px;">
                    @Session["UserName"].ToString()
                </span>
                }

                <div class="divAvatarsHasTop" style="display:none;">
                    <div class="divAvatarsAdditionArea"></div>
                    <div class="arrow arrowOuter"></div>
                    <div class="arrow arrowInner"></div>
                    <ul>
                        <li>
                            @Html.ActionLink("Logout", "LogOff", "Login")
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="container-cm">
            <div class="navbar-collapse-cm collapse-cm">
                <ul class="nav-cm navbar-nav-cm">
                    <li>
                        <span class="icon_menu"></span>
                        @Html.ActionLink("Cloudflare Logs", "CloundflareDownloadLogs", "Home")
                    </li>
                    <li>
                        <span class="icon_menu"></span>
                        @Html.ActionLink("Whitelist Manage", "WhiteList", "Home")
                    </li>
                    <li>
                        <span class="icon_menu"></span>
                        @Html.ActionLink("Blacklist Manage", "BlackList", "Home")
                    </li>
                    <li>
                        <span class="icon_menu"></span>
                        @Html.ActionLink("Rate Limiting Rule Manage", "RateLimitingList", "Home")
                    </li>
                    <li>
                        <span class="icon_menu"></span>
                        @Html.ActionLink("Audit Logs", "AuditLogs", "AuditLog")
                    </li>
                    <li>
                        <span class="icon_menu"></span>
                        @Html.ActionLink("Zone Manage", "ZoneList", "Home")
                    </li>
                    <li>
                        <span class="icon_menu"></span>
                        @Html.ActionLink("Host Manage", "Index", "HostConfiguration")
                    </li>
                </ul>
                @*@Html.Partial("_LoginPartial")*@
            </div>
            <div class="body-content-cm">
                <div class="pageContainer-cm">
                    <div class="alert alert-warning" id="div-warning" hidden>
                        <a href="#" class="close" data-dismiss="alert">
                            &times;
                        </a>
                        <strong>Warning！</strong><label id="lbl-warning"></label>
                    </div>

                    <div class="alert alert-danger" id="div-error" hidden>
                        <a href="#" class="close" data-dismiss="alert">
                            &times;
                        </a>
                        <strong>Error！</strong><label id="lbl-error"></label>
                    </div>
                    @RenderBody()
                </div>
                @*<footer>
                        <p>&copy; @DateTime.Now.Year - 我的 ASP.NET 应用程序</p>
                    </footer>*@
            </div>
        </div>

    </div>

    @Scripts.Render("~/Scripts/bootstrap.js")
    @Scripts.Render("~/Scripts/bootstrap-datetimepicker.min.js")
    @Scripts.Render("~/Scripts/bootstrap-table.min.js")
    @Scripts.Render("~/Scripts/bootstrap-switch.min.js")
    @Scripts.Render("~/Scripts/home.js?v=" + Guid.NewGuid())
    @Scripts.Render("~/Scripts/layout.js?v=20181208")
    @RenderSection("scripts", required: false)
</body>
</html>
