@{
    Layout = null;
}

@Styles.Render("~/Content/bootstrap.css")
@Styles.Render("~/Content/login.css?v=20181211")
@Scripts.Render("~/bundles/jquery")

@model AttackPrevent.Models.LoginModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <header class="c-layout-header c-layout-header-2 c-header-transparent-dark c-layout-header-dark-mobile" data-minimize-offset="130">
        <div class="c-mainbar c-navbar">
            <div class="container">
                <!-- BEGIN: BRAND -->
                <div class="c-navbar-wrapper clearfix">
                    <div class="c-brand c-pull-left">
                        <a href="javascript:void(0);" class="c-logo">
                            <span class="c-logo-img"><img src="~/Images/logo-comm100.svg" alt="Comm100" class="c-desktop-logo"></span>
                        </a>
                        <button class="c-hor-nav-toggler" type="button" data-target=".c-top2-menu">
                            <span class="c-line"></span>
                            <span class="c-line"></span>
                            <span class="c-line"></span>
                        </button>
                    </div>
                    <!-- END: BRAND -->
                </div>
            </div>
        </div>
    </header>

    <div class="login-wrap clearfix">
        <div class="sign-in">
            <div id="divLogin" class="divContent" style="width: 420px; position: relative; z-index: 2; margin-bottom: 0;">
                <h1 style="margin-top: 85px">User Sign in</h1>
                <div class="divMsg">

                </div>
                @if (!string.IsNullOrWhiteSpace(ViewBag.ErrorMessage))
                {
                    <div class="divMsg" id="ajaxError" style="">
                        <div class="dialogcontainer">
                            <div class="dialogerror">
                            </div>
                            <div class="dialogerrorcontainer">
                                <div class="dialogtitle" style="font-size: 16px">
                                    Error signing into the account
                                </div>
                                <div class="dialogtext" id="ajaxErrorMsg">
                                    @ViewBag.ErrorMessage
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <div class="login">
                    <div id="loginContent">
                        <div style="position: relative" class="form-group">
                            @Html.TextBoxFor(model => model.UserName, new { @placeholder = "Account", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.UserName)
                        </div>
                        <div style="position: relative" class="form-group">
                            @Html.PasswordFor(model => model.Password, new { @placeholder = "Password", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Password)
                            <div class="registerError" id="errorPasswordExceed" style="display: none; width: 285px; left: 310px;">
                                <span class="errorArrow"></span><span class="errorContent"></span>
                            </div>
                        </div>
                        @if ((int)ViewBag.ErrorTimes >= 10 )
	                    {
                        <div id="divVerificationCode" style="position: relative;">
                            @Html.TextBoxFor(model => model.verificationcode, new { @autocomplete = "off", @style = "width: 105px;", @placeholder = "Verification Code" })
                            <img id="check_img" src="/Image/GetCheckCode" alt="Verfication Code" style="border-width: 0px; padding: 0px 8px 0px 3px; cursor: pointer; margin-bottom: -10px; border: 0;" onclick="refreshCheckCode('check_img')" />
                            <span>
                                <a href="javascript:refreshCheckCode('check_img');">Refresh</a>
                            </span>
                        </div>
	                    }
                        
                        <input id="lblLogin" type="submit" value="Sign in" class="btn btn-blue tryitfree" style="height: 46px; line-height: 46px; padding: 0">
                    </div>
                    <div id="adminAuthorization" style="display: none">
                        <input id="lblAdminAuthorization" type="button" value="Email Me for Authorization" class="btn btn-gray" style="padding-left: 30px; padding-right: 30px; font-size: 16px; margin-bottom: 0; width: 300px; height: 48px;">
                    </div>
                    <noscript>
                        <span style="line-height: 20px; font-size: 12px; border: 1px solid #ffcf0f; background: rgb(255, 255, 222); display: block; padding: 5px 7px; margin-top: -25px;">
                            <img src="../images/icon/bulb.gif" alt="Bulb Notification Image" style="margin-right: 5px;" />Some features
                            of our site cannot work properly as JavaScript is not enabled in your browser. To
                            fix this, please <a href="https://www.comm100.com/livechat/knowledgebase/how-to-enable-javascript-in-a-web-browser.html"
                                                target="_blank" style="font-size: 13px; color: #329FD9; display: inline-block; padding: 0;">enable JavaScript</a> and then refresh this page.
                        </span>
                    </noscript>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    function refreshCheckCode(imgCtr) {
        $("#" + imgCtr).attr("src", '/Image/GetCheckCode?' + Math.random());
    }

    $(document).ready(function () {

        $('.input-validation-error').parents('.form-group').addClass('has-error');
        $('.field-validation-error').addClass('text-danger');

        $('input.form-control').change(function () {
            $(this).next('span').removeClass('text-danger');
            $(this).next('span').text('');
            $(this).parents('.form-group').removeClass('has-error');
        });

        $('#lblLogin').click(function () {
            $("#ajaxError").hide();
            $("#lblLogin").val("Signing in").addClass("waiting");
        });
    });
</script>
